<!DOCTYPE HTML>
<html>
	<head>
		<title>MDBFit by Michael Bharrat</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="assets/css/main.css" />	
	</head>
	<body class="contact">
		<div id="page-wrapper">
			<header id="header">
					<h1 id="logo"><a href="index.html">MDBFit <span>by Michael Bharrat</span></a></h1>
					<nav id="nav">
						<ul>
							<li class="current"><a href="index.html">Welcome FITFAM</a></li>
							<li class="submenu">
								<a href="#">Explore</a>
								<ul>
									<li class="submenu"><a href="#">Exercises</a>
										<ul>
												<li><a href="exerciseDB.html">Exercise List</a></li>
												<li><a href="AddExercise.html">Create Exercise</a></li>
										</ul>
									</li>
									<li class="submenu"><a href="#">Supplement List</a>
										<ul>
											<li><a href="suppDB.html">Supplement List</a></li>
											<li><a href="AddSupp.html">Create Supplement</a></li>
										</ul>
									</li>	
								</ul>
							</li>
							<li><a href="contact.html">Contact Me</a></li>
						</ul>
					</nav>
				</header>
				<article id="main">
					<header class="special container">
						<span class="icon fa-trophy"></span>
						<h2>Help Us Get Better</h2>
					</header>
						<section class="wrapper style4 special container 75%">
								<h3>Add to the Supplement Database</h3>
									<div ng-app="sCreate" ng-controller="SuppCreateCtrl" class="content">
										<form novalidate>
											<div class="row 50%">
												<div class="6u 12u(mobile)">
													<input ng-model="user.sname" required type="text" name="sname" placeholder="Supplement Name" />
												</div>
												<div class="6u 12u(mobile)">
													<input ng-model="user.company" required type="text" name="company" placeholder="Company" />
												</div>
											</div>
											<div class="row 50%">
												<div class="6u 12u(mobile)">
													<input ng-model="user.price" required type="text" name="price" placeholder="Price" />
												</div>
												<div class="6u 12u(mobile)">
													<input ng-model="user.activeIngred" required type="text" name="activeIngred" placeholder="Active Ingredient" />
												</div>
											</div>
											<div class="row 50%">
												<div class="12u">
													<textarea ng-model="user.description" required name="sdescription" placeholder="Description" rows="7"></textarea>
												</div>
											</div>
											<div class="row">
												<div class="12u">
													<ul class="buttons">
														<li>
															<input type="submit" class="special" ng-click="update(user); masterShow=true" value="Add to Database" /></li>	
													</ul>
												</div>	
										</form>
										<!--hidden real time json -->
										<!--<pre>user = {{user | json}}</pre>-->
										<pre ng-show="masterShow">toDatabase = {{master | json}}</pre>
									</div>
								</div>
						</section>
				</article>
				<footer id="footer">
					<ul class="icons">
						<li><a href="https://github.com/mbharrat" class="icon circle fa-github"><span class="label">Github</span></a></li>
						<li><a href="https://www.linkedin.com/in/michaeldbharrat/" class="icon circle fa-linkedin-square"><span class="label">Github</span></a></li>
					<ul class="copyright">
						<li>&copy; MDBFit</li><li>Design: <a href="contact.html">Michael Bharrat</a></li>
					</ul>
				</footer>
		</div>
			<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.min.js"></script>
			<script src="assets/js/createSupp.js"></script>
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.dropotron.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/jquery.scrollgress.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>
	</body>
</html>